@font-face {
    font-family: 'Slab';
    src: url('Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
}

* {
    font-family: 'Slab';
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.img {
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100%;
    flex-shrink: 0;
}

a, .img-links {
    color: beige;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.paragraph-container {
    display: flex;
    background-color: #E5E7EB;
    width: fit-content;
    height: fit-content;
}

.paragraph {
    font-size: 35px;
    line-height: 1.5em;
    font-weight: 700;
    padding: 2em 1em 0 1em;
}

/* form {
} */